@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  font-size: 16px; 
  font-weight: 400,700;
  background-color: hsl(204, 43%, 93%);
  padding: 0 2rem;
}

.container {
  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 5px 20px 20px rgb(30 41 212 / 5%);
  width: 100%;
  max-width: 680px;
}


#header {
  padding: 2.45rem;
}

.main-title { 
  color: hsl(179,62%,43%);
  margin-top: 0;
}

#header p {
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.85rem;
  color: hsl(218,22%,67%);
}

#header h3 {
  color: hsl(71,73%,54%);
}


#main {
  display: flex;
}

#main h2 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
} 


#main > div {
  width: 50%;
  padding: 2.45rem;
  color: #fff;
}

#pricing {
  font-size: 1rem;
  background-color: hsl(179,62%,43%);
  border-bottom-left-radius: 0.75rem;
}

#pricing .monthly-price {
  display: flex;
  align-items: center;
}

#pricing .amount {
  font-size: 2.4rem;
  color: #fff;
  margin: 0;
  font-weight: 700;
}

#pricing .frequency {
  opacity: 0.6;
  margin-left: 0.75rem;
}

#pricing button {
  background-color: hsl(71,73%,54%);
  color: #fff;
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1.175rem;
  border-radius: 0.35rem 0.35rem;
  box-shadow: 5px 20px 15px rgb(30 41 212 / 5%);
  cursor: pointer;
  transition: all 200ms ease;
}

#pricing button:hover {
  background-color: #fff;
  color: hsl(71,73%,54%);
  transform: scale(1.1);
  box-shadow: 5px 20px 20px rgb(30 41 212 / 10%);
}

#why {
  background-color: hsl(179deg 47% 52%);
  border-bottom-right-radius: 0.75rem;

}

#why ul {
  list-style-type: none;
  padding: 0;
  opacity: 0.6;
  line-height: 1.4rem;
}

@media screen and (max-width: 640px) {
  #main {
    flex-direction: column;
  }

  #main > div {
    width: calc(100% - 4.90rem);
  }
  

  #pricing {
    border-radius: 0;
  }

  #why {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}